html, body{
    margin: 0;
    padding: 0;
   height: 100%; 
}

.caixas{
   /*border-top:2px solid #333;
   border-bottom: 2px solid #333;(comentado para nao fazer barra de rolagem*/ 
   height: 100%;

   /*PROPRIENDADES DE ALINHAMENTO*/
   display: flex ; /* reajusta os containers(e que seja um bloco) para que elas caibam */

   /*row (um do lado do outor em linha) | row-reverse(inverte a ordem) | colum(um em baixo do outro em coluna) | colum=reverse(inverte a ordem) */
   flex-direction: row;

   /* nowrap | wrap | wrap-reverse*/
   flex-wrap: wrap ;/* quando for para o modo responsivo ele nao achata a imagem*/

   /*flex-start | flex-end | center | space-between | space-around | space-evenly */
   justify-content: space-around; /*propriedade que alinha*/

   /*flex-start| flex-end | center | stretch | baseline */
   align-items: center; /*alinha os itens na verdical*/
}

.caixa{
    color: #FFF;
    border: 1px solid #333;
    background-color:#adafb2;
    width: 215px;
    height: 215px;
    margin: 5px;
    text-align:center;

}